<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <title>{% block page_name %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js" integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>


<body>
    <h1>{% block title %}{% endblock %}</h1>
    

    {% block table %}{% endblock %}
    {% block choix_ratios %}{% endblock %}

    {% block chart %}{% endblock %}




    




</body>

</html>